
   <!--à remplir par snippet service-->
   <div id="service1" class="container rounded">
    <div class="row">
        <div class="col-3" id="image-service" class="rounded"><!-- modifier background image par l'image du service--></div>
        <div class="col-6" id="info-service">
            <!--mettre les infos du service -->
            <div id="titre-service">Titre service</div>
            <div id="description-service"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis fringilla sodales. Suspendisse potenti. Nulla augue metus, suscipit non viverra id, fermentum eu metus. Integer pulvinar euismod efficitur. Suspendisse eleifend tincidunt dictum. Mauris sit amet leo sed erat scelerisque suscipit. Aenean ut lacus nec erat blandit placerat. In in sapien facilisis, scelerisque arcu sed, efficitur felis. Curabitur et mi non nulla elementum euismod in id purus. Etiam at lacus egestas, vestibulum leo vel, tempor nunc. Proin iaculis, tortor at semper vestibulum, nisl dui congue dui, eget dapibus nunc libero eu nisi. Fusce non eros purus. Etiam vitae diam vel sem consectetur euismod. Nam quam lorem, aliquet a dictum dignissim, consequat eu lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis fringilla sodales. Suspendisse potenti. Nulla augue metus, suscipit non viverra id, fermentum eu metus. Integer pulvinar euismod efficitur. Suspendisse eleifend tincidunt dictum. Mauris sit amet leo sed erat scelerisque suscipit. Aenean ut lacus nec erat blandit placerat. In in sapien facilisis, scelerisque arcu sed, efficitur felis. Curabitur et mi non nulla elementum euismod in id purus. Etiam at lacus egestas, vestibulum leo vel, tempor nunc. Proin iaculis, tortor at semper vestibulum, nisl dui congue dui, eget dapibus nunc libero eu nisi. Fusce non eros purus. Etiam vitae diam vel sem consectetur euismod. Nam quam lorem, aliquet a dictum dignissim, consequat eu lorem.</div>
        </div>
        <div class="col-3" id="boutton-validation">
            <div class="boutton">
            <button id="boutton-validation" class="rounded btn btn-default border border-dark">Valider</button>
            </div>
            <div class="boutton">
            <button id="boutton-supprimer" class="rounded btn btn-default border border-dark">Supprimer</button>
            </div>
        </div>
    </div>
</div>